/*Styling for the login bar uptop*/

.loginBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    z-index: 500;
    background-color: #1a1a1a;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.loginBar img {
    max-height: 100px;
    width: 130px;
    margin-left: 2%;
    background-color: white;
    border-radius: 3%;
}

.loginBar form {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 2%;
    gap: 10px;
}

.loginFormRow {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.loginFormRow input {
    border: 2px solid grey;
    border-radius: 2px;
    background-color: grey;
}

.loginForm button {
    padding: 4px 10px; 
    margin-top: 5.5%;
    height: 40%;
    background-color: #333; 
    color: #f0f0f0; 
    border: none;
    border-radius: 5px;
}
.loginForm button:hover{
    background-color: #444; 
}

.mainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

/*Styling for the welcome imamge*/
.welcomeImg {
    margin-top: 5%;
    transform: scale(1.2);
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.welcomeImg:hover {
    transform: scale(1.5);
}

.register {
    margin-top: 30px; 
    font-size: 30px; 
    color: white; 
    text-align: center; 
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.register:hover {
    color: #000000; 
}


.errorMessage {
    display: flex;
    margin: 0 auto 0 auto;
    padding: 3px 0;
    background-color: rgb(146, 42, 42);
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: bold;
}

.successMessage {
    display: flex;
    margin: 0 auto 0 auto;
    padding: 3px 0;
    background-color: green;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: bold;
}