

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between posts */
  width: 60%;
}

.postCard {
  margin-top: 2%;
  display: flex;
  flex-direction: column; /* Horizontal layout for content and cardRight */
  border: 3px solid black;
  border-radius: 10px;
  align-items: stretch; /* Ensure children stretch to the height of the parent */
  overflow: hidden; /* Prevent content overflow */
}

.content {
  margin: 0% 3% 3% 3%;
  overflow-wrap: break-word; /* Ensure long words break to the next line */
  word-break: break-word; /* Break long words if necessary */
}



