

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between posts */
  width: 60%;
}

.postCard {
  margin-top: 2%;
  display: flex;
  flex-direction: row; /* Horizontal layout for content and cardRight */
  border: 3px solid black;
  border-radius: 10px;
  align-items: stretch; /* Ensure children stretch to the height of the parent */
  overflow: hidden; /* Prevent content overflow */
}

.cardLeft{
  display: flex;
  flex-direction: column;
  flex:2;
  background-color: yellow;
  overflow-wrap: break-word
}

.headerRow{
  display: flex;
  flex-direction: row;
}
.content {
  overflow-wrap: break-word; /* Ensure long words break to the next line */
  word-break: break-word; /* Break long words if necessary */
}

.cardRight {
  display: flex;
  flex:1;
  background-color: green;
}

