

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  width: 60%;
  
}
.postsContainer h2{
text-align: center;  
}

.postCard {
  margin-top: 2%;
  display: flex;
  flex-direction: column; 
  border: 3px solid #1a1a1a;
  border-radius: 10px;
  background-color: #353535;
  overflow: hidden; /* Prevent content (including the image) from overflowing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1px;
  background-color: #1a1a1a;
  color: white;

}

.title {
  margin-left: 20px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:1% 1% 1% auto;
  gap: 10px;
}

.date {
  position: relative;
  top: -2px;
  font-size: 12px;
}


.deleteIcon {
  margin:1% 1% 1% auto;
  font-size: 30px;
  color: red;
}

.deleteIcon:hover {
  scale: 1.05;
}

.content {
  margin: 2% 3% 3% 3%;
  overflow-wrap: break-word; /* Ensure long words break to the next line */
  word-break: break-word; /* Break long words if necessary */
  color: white;
}

.image {
  width: 100%;
  background-color: white;
}

.image img {
  width: 100%;
  height: 100%;
}

/* Only relevant for shared posts */
.author {
  position: relative;
  top: -1.5px;
  font-size: 11.5px;
}