.welcomeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    color: white;
    border-radius: 15px;
    padding: 0.2% 0 0.2% 0;
    width: 60%;
    height: 50px;
    text-align: center;
    background-color: #1e1e2f;
    transition: transform 0.2s ease;
    scale: 100%;
    font-size: clamp(12px, 1.5vw, 20px); /* Scales text inside of the container*/
}

.welcomeContainer:hover {
    transform: scale(1.07); /* Slight zoom effect on logo hover */
    background-color: #1e1e2f;
}
