.mainContainer{
    margin-top: 120px;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    text-align: center;
    background-color: rgb(65, 65, 65);
    transition: transform 0.2s ease;
    scale: 90%;
}

.mainContainer:hover {
    transform: scale(1.1); /* Slight zoom effect on logo hover */
    background-color: rgb(49, 49, 49);
}
